#create-todo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  outline: none;
}

#todo-body {
  grid-column-start: span 2;
  width: 100%;
  min-height: 100px;
  resize: none;
}

#save-btn {
  grid-column-start: span 2;
}

#manual-mode-btn {
  grid-column-start: span 2;
}
